/* Abstract styling *******************************
***************************************************/

.top-news a {
    text-decoration: none;
    background-color: lightgrey;
}

.abstract {
    text-align: center;
    padding: 1rem .5rem;
    color: #fff;
    line-height: 1.5;
    background: rgba(0, 0, 0, .5);
    position: relative;
}
//_______Went for the stretch goals, didn't work out :/ _________
// .abstract {
//     transition: 0.30s;
//     /*   animation speed */
// }

// .articleBackground .abstract {
//     display: block;
// }

// .articleBackground {
//     overflow: hidden;
//     background-color: rgba(0, 0, 0, .25);
//     p {
//         margin-bottom: -7rem;
//     }
// }

// .articleBackground:hover p {
//     margin-top: 0em;
// }

// // .abstractShow {
// //     visibility: visible;
// //}
// // .abstract p {
// //     display: none;
// //     position: absolute;
// //     bottom: 5%;
// //     left: 5%;
// //     right: 5%;
// //     padding: .5em;
// // }
// // .abstract:hover {
//     display: block;
// }