/* Abstract styling *******************************
***************************************************/

.top-news a {
    text-decoration: none;
    // background-color: lightgrey;
    // This background color doesnt seem to do anything.
}

.abstract {
    text-align: center;
    padding: 1rem .5rem;
    color: #fff;
    line-height: 1.5;
    background: rgba(0, 0, 0, .5);
    position: relative;
}