/* Footer styling *******************************
***************************************************/

footer {
    color: #c2c2c2;
    height: 10vh;
    display: flex;
    justify-content: center;
    @include desktop {
        justify-content: flex-start;
        padding-left: 2rem;
    }
}

span {
    text-transform: uppercase;
}