/* Footer styling *******************************
***************************************************/

.footer {
    display: flex;
    justify-content: center;
    // text-transform: uppercase;
    margin-top: 4rem;
    margin-bottom: 2rem;
    color: #c2c2c2;
    @include tablet {
        .footer {
            margin-bottom: 35%;
        }
    }
    @include desktop {
        justify-content: flex-start;
        align-items: flex-end;
        padding-left: 2rem;
    }
}

span {
    text-transform: uppercase;
}