/* Footer styling *******************************
***************************************************/

.logo-and-form {
    height: 90vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    @include tablet {
        flex-flow: row;
        align-items: center;
    }
    @include desktop {
        justify-content: flex-start;
    }
}

.nyt-logo {
    margin-top: 2rem;
    @include tablet {
        margin-right: 1.5rem;
    }
}

form {
    #dropdown {
        width: 160px;
        height: 28px;
        font-size: 1.2rem;
    }
}

h4 {
    margin: 1rem auto;
}

.headerShrink {
    height: 75px;
    padding-top: 7rem;
    form {
        margin-top: 1rem;
        padding-bottom: 7rem;
    }
    img {
        height: 75px;
    }
    @include tablet {
        height: 110px;
        padding-top: 0;
        form {
            padding-bottom: 0;
        }
        img {
            height: 55px;
            width: auto;
            margin-bottom: 1rem;
        }
    }
}