/*top news results styling*************************
***************************************************/

.top-news {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding-top: 2rem;
    li {
        width: 100%;
        @include tablet {
            flex-basis: 50%;
        }
        @include desktop {
            flex-basis: 25%;
        }
    }
    .articleBackground {
        height: 400px;
        width: 100%;
        background-position: 50%;
        background-size: cover;
        display: flex;
        div {
            align-self: flex-end;
        }
    }
}